---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Prose from "../../components/Prose.astro";
const entries = await getCollection("marcadores");

const title = "Marcadores";
const description = "Paginas web que voy recopilando";
---

<Layout title={title} description={description}>
  <div class="py-2">
    <Nav active="marcadores" />
  </div>

  <header class="m-8 text-center">
    {/* https://github.com/CloudCannon/pagefind/issues/532 */}
    <h1 data-pagefind-body class="font-bold text-3xl">{title}</h1>
    <p class="text-lg">{description}</p>
  </header>

  <Prose>
    <ul>
      {
        entries.map((entry) => (
          <li>
            {/* prettier-ignore */}
            <a href={`/marcadores/${entry.slug}/`}>{entry.data.title || entry.data.url}</a>

            {entry.data.tags && (
              <ul class="not-prose inline-flex gap-1 mx-auto justify-center leading-none">
                {entry.data.tags.map((tag) => (
                  <li>
                    <span class="text-green-600 dark:text-green-300">
                      #{tag}
                    </span>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </Prose>
</Layout>
