---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import MarcadorList from "../../components/MarcadorList.astro";
const entries = await getCollection("marcadores");

const title = "Marcadores";
const description = "Paginas web que voy recopilando";
---

<Layout title={title} description={description}>
  <div class="py-2">
    <Nav active="marcadores" />
  </div>

  <header class="m-8 text-center">
    {/* https://github.com/CloudCannon/pagefind/issues/532 */}
    <h1 data-pagefind-body class="font-bold text-3xl">{title}</h1>
    <p class="text-lg">{description}</p>
  </header>

  <main class="mb-8 px-2">
    <MarcadorList entries={entries} />
  </main>
</Layout>
